{
    "scopes": ["https://www.googleapis.com/auth/drive.metadata.readonly"],
    "mattermost_webhook_url": "",
    "folders": [
        {
            "name": "frigate",
            "id": "3~ergergerhgerhflyOAnXAjjqE1ygLi",
            "interval": 3,
            "recursive": true
        },
        {
            "name": "Backups/2",
            "id": "1V92l79N9eherheherthertheMa1BP_TnZ",
            "interval": 24,
            "recursive": true
        },
        {
            "name": "Backups1",
            "id": "1chLz74geherherherhnvBx",
            "interval": 24,
            "recursive": true
        },
        {
            "name": "Test",
            "id": "15_8Vf~erherherherPowCDaPA",
            "interval": 336,
            "recursive": false
        }
    ]
}